<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/tempImages/;"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActifService"/>
        <binding name="BasicHttpBinding_IExchangeRateService"/>
        <binding name="BasicHttpBinding_IInterestRateService"/>
        <binding name="BasicHttpBinding_IXMLService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ActifService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IActifService" contract="ServiceReference.IActifService" name="BasicHttpBinding_IActifService"/>
      <endpoint address="http://localhost:8080/ExchangeRateService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeRateService" contract="ServiceReference.IExchangeRateService" name="BasicHttpBinding_IExchangeRateService"/>
      <endpoint address="http://localhost:8080/InterestRateService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterestRateService" contract="ServiceReference.IInterestRateService" name="BasicHttpBinding_IInterestRateService"/>
      <endpoint address="http://localhost:8080/XMLService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IXMLService" contract="ServiceReference.IXMLService" name="BasicHttpBinding_IXMLService"/>
    </client>
  </system.serviceModel>
</configuration>