<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IActifService" />
                <binding name="BasicHttpBinding_IExchangeRateService" />
                <binding name="BasicHttpBinding_IInterestRateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ActifService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IActifService" contract="ServiceReference.IActifService"
                name="BasicHttpBinding_IActifService" />
            <endpoint address="http://localhost:8080/ExchangeRateService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeRateService"
                contract="ServiceReference.IExchangeRateService" name="BasicHttpBinding_IExchangeRateService" />
            <endpoint address="http://localhost:8080/InterestRateService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterestRateService"
                contract="ServiceReference.IInterestRateService" name="BasicHttpBinding_IInterestRateService" />
        </client>
    </system.serviceModel>
</configuration>