<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IActifService" />
        <binding name="BasicHttpBinding_IExchangeRateService" />
        <binding name="BasicHttpBinding_IInterestRateService" />
        <binding name="BasicHttpBinding_IXMLService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ActifService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IActifService" contract="ServiceReference.IActifService"
        name="BasicHttpBinding_IActifService" />
      <endpoint address="http://localhost:8080/ExchangeRateService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExchangeRateService"
        contract="ServiceReference.IExchangeRateService" name="BasicHttpBinding_IExchangeRateService" />
      <endpoint address="http://localhost:8080/InterestRateService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInterestRateService"
        contract="ServiceReference.IInterestRateService" name="BasicHttpBinding_IInterestRateService" />
      <endpoint address="http://localhost:8080/XMLService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IXMLService" contract="ServiceReference.IXMLService"
        name="BasicHttpBinding_IXMLService" />
    </client>
  </system.serviceModel>
</configuration>